<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
    <head>
        <meta charset="UTF-8">
        <title>left side</title>
    </head>
    <body>
    <div class="row-1" th:fragment="left-side">
        <div class="col p-0">
            <div class="row-12 mt-2">
                <ul class="list-group">
                    <li th:class="${#strings.equals(#request.getRequestURI(), '/admin')} ? 'list-group-item active' : 'list-group-item'"
                        th:if="${#strings.equals(#request.getRequestURI(), '/admin')}">

                        <a th:class="${#strings.equals(#request.getRequestURI(), '/admin')} ? 'text-light' : 'text-primary'"
                           th:href="@{/admin}">Admin</a>
                    </li>
                    <li th:class="${#strings.equals(#request.getRequestURI(), '/user')} ? 'list-group-item active' : 'list-group-item'"
                        th:if="${#strings.equals(#request.getRequestURI(), '/admin') || #strings.equals(#request.getRequestURI(), '/user')}">

                        <a th:class="${#strings.equals(#request.getRequestURI(), '/user')} ? 'text-light' : 'text-primary'"   th:href="@{/user}">User</a>
                    </li>
                </ul>
            </div>
<!--            <div class="row"><a class="btn btn-primary" th:if="${#strings.equals(#request.getRequestURI(), '/admin') || #strings.equals(#request.getRequestURI(), '/user')}" th:href="@{/user}">User</a></div>
            <div class="row"><a class="btn btn-primary" th:if="${#strings.equals(#request.getRequestURI(), '/admin')}" th:href="@{/admin}">Admin</a></div>-->
        </div>
    </div>
</body>
</html>