<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Admin all users table</title>
    </head>
    <body>
    <!--/*@thymesVar id="userOfAll" type="webBackend.model.User"*/-->
        <div class="modal fade" id="modal-"  th:attrappend="id=${userOfAll.id}" tabindex="-1" aria-labelledby="-modalLabel"
             th:attrprepend="aria-labelledby=${userOfAll.id}" aria-hidden="true" th:fragment="modal-edit">
            <div class="modal-dialog ">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="-modalLabel" th:attrprepend="id=${userOfAll.id}" th:text="#{modal.edit.title}">Edit user</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <!-- /*@thymesVar id="updateUser" type="webBackend.model.User"*/-->
                    <!-- /*@thymesVar id="allTheRoles" type="webBackend.service.RoleManager"*/-->
                    <form  action="#" th:action="@{/admin/update-user}"  method="post" accept-charset="UTF-8" th:object="${allTheRoles}">
                        <div class="modal-body flex-column d-flex align-items-center">
                                <div class="row">
                                    <div class="col">
                                        <div class="form-group d-none">
                                            <div>Id</div>
                                            <div>
                                                <input class="bg-light" type="text" th:name="id" th:value="${userOfAll.id}" readonly/>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div>Id</div>
                                            <div>
                                                <input class="bg-light" type="text" th:name="id" th:value="${userOfAll.id}" disabled/>
                                            </div>
    <!--                                        <td th:if="${#fields.hasErrors('id')}" th:errors="*{id}">Name Error</td>-->
                                        </div>
                                        <div class="form-group">
                                            <div>First name</div>
                                            <div>
                                                <input type="text" th:name="name" th:value="${userOfAll.name}"/>
                                            </div>
    <!--                                        <td th:if="${#fields.hasErrors('name')}" th:errors="${userOfAll.name}">Name Error</td>-->
                                        </div>
                                        <div class="form-group">
                                            <div>Last name</div>
                                            <div>
                                                <input type="text" th:name="lastName" th:value="${userOfAll.lastName}" />
                                            </div>
    <!--                                        <td th:if="${#fields.hasErrors('secondName')}" th:errors="${userOfAll.lastName}">Name Error</td>-->
                                        </div>
                                        <div class="form-group">
                                            <div>Age</div>
                                            <div>
                                                <input type="text" th:name="age" th:value="${userOfAll.age}" />
                                            </div>
    <!--                                        <td th:if="${#fields.hasErrors('age')}" th:errors="${userOfAll.age}">Age Error</td>-->
                                        </div>
                                        <div class="form-group">
                                            <div>Email</div>
                                            <div>
                                                <input type="text" th:name="email" th:value="${userOfAll.email}" />
                                            </div>
    <!--                                        <td th:if="${#fields.hasErrors('email')}" th:errors="${userOfAll.email}">Email Error</td>-->
                                        </div>
                                        <div class="form-group">
                                            <div>Password</div>
                                            <div>
                                                <input type="text" th:name="password" th:value="${userOfAll.password}" />
                                            </div>
    <!--                                        <td th:if="${#fields.hasErrors('password')}" th:errors="*{userOfAll.password}">Name Error</td>-->
                                        </div>
                                        <div class="form-group">
                                            <label >Роли</label>
                                            <!--/*@thymesVar id="allRoles" type="webBackend.service.RoleManager"*/-->
                                            <select size="2" class="form-control" th:field="*{newRoles}"
                                                    th:multiple="multiple">
                                                <option th:each="rolem : *{allFields}" th:name="${rolem}"
                                                        th:value="${rolem}" th:utext="${rolem}">
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Edit</button>
    <!--                        <button type="button" class="btn btn-primary">Save changes</button>-->
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>