<!DOCTYPE html>
    <html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
    <body>
        <div class="row" th:fragment="user-panel">
            <table class="table table-striped">
                <thead class="thead-light">
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col" th:text="#{table.name}">First Name</th>
                    <th scope="col"th:text="#{table.lastName}">Last Name</th>
                    <th scope="col" th:text="#{table.age}">Age</th>
                    <th scope="col" th:text="#{table.email}">Email</th>
                    <th scope="col" th:text="#{table.role}">Role</th>
                </tr>
                </thead>
                <tbody>
                <!--/*@thymesVar id="authorisedUser" type="webBackend.model.User"*/-->
                <tr th:object="${authorisedUser}">
                    <th scope="row">
                        <div th:text="*{id}"></span>
                        </div>
                    </th>
                    <td th:text="*{name}"></td>
                    <td th:text="*{lastName}"></td>
                    <td class="years"><span th:text="*{age}"></span> years</td>
                    <td th:text="*{email != null} ? *{email} : 'no email'"></td>
<!--                    <td th:text="*{roles}"></td>-->
                    <td ><span th:if="*{roles != null}" th:each="role : *{roles}" th:text="${role.getRole()}"></span></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    </body>
</html>